

/* 1. CSS Variables and Fallbacks */
:root {
    --main-bg: #f4f4f9;
    --primary-color: green;
}

/* 1. Universal Selector (*) */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 1. Color and Element Selector */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--main-bg, white); 
    color: color(display-p3 0 0.2 0); 
    padding: 2rem; 
}

/* 3. Class Selector */
.main-container {
    background-color: #fff; 
    padding: 20px 10px 20px 10px; 
    border-radius: 8px;
    min-width: 300px; 
}

/* 4. Combining Two Selectors */
main.main-container {
    border: 1px solid rgba(0, 0, 0, 0.1); 
}

/* 5. ID Selector and Position */
#minutes {
    position: sticky; 
    top: 0;
    background-color: color-mix(in srgb, white, #e8f5e9); 
}

/* 6. Selector List */
h1, h2, h3 {
    margin-bottom: 1rem;
    color: hsl(120, 100%, 15%); 
}

/* 7. Attribute Selector */
input[type="date"] {
    border: 2px solid var(--primary-color, green);
    padding-top: 5px; 
}

/* 8. Combinators */

/* Descendant Combinator (element element) */
header nav {
    margin-top: 10px;
}

/* Child Combinator */
section > h3 {
    border-left-width: 5px; 
    border-left-style: solid;
    border-left-color: green; 
    padding-left: 10px;
}

/* Adjacent sibling combinator and Units */
label + input {
    margin-left: 2cm; 
}

/* General sibling combinator */
h3 ~ p {
    font-style: italic;
    color: orange; 
}

/* 9. Pseudo-class Selector and Text */
nav a:hover {
    color: var(--primary-color);
    text-decoration: underline; 
}

nav a:active {
    color: darkgreen; 
}

/* 10. Selectors */
section:has(ul) {
    background-color: rgba(0, 255, 0, 0.02);
}

/* 11. Nested Selectors */
main {
    & h2 {
        text-align: center; 
    }
}

/* Layouts: Flexbox */
header {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    height: 10vh; 
}

/* Layouts: Grid */
.grid-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin: auto; 
    width: 90%; 
}

.grid-item {
    border: 1in solid transparent; 
    border-width: 1px; 
}

/* Box Model and Display */
form {
    margin: 20px; 
    display: block; 
}

fieldset {
    margin-top: 10px; 
    padding: 10pt; 
}

img {
    display: inline-block; 
    max-width: 100vw; 
    height: auto;
}

/* Position 2: relative */
video {
    position: relative;
    left: 0;
}

/* Responsiveness: Media Query */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}
